html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'PT Sans', sans-serif;
    font-size: 14px;
    line-height: 22px;
    height: 100%;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
    padding: 0;
    margin: 0;
}

.page-wrapper {
    min-height: 100%;
}

.page-wrapper::after {
    content: "";
    height: 220px;
    display: block;
}

.work-area {
    width: 980px;
    margin: 0 auto; 
}

.logo {
    width: 273px;
    height: 100px;
}

.header {
    height: 210px;
    background-color: #dcdcdc;
}

.logo {
    margin-top: 45px;
    float: left;
}

.menu {
    background-color: #777;
    font-size: 30px;
    font-weight: normal;
    padding: 26px 0 26px;
    margin: 0;
    font-weight: regular;
    height: 28px;
}

.menu .work-area ul {
    margin-left: 16px;
}

.menu .work-area li {
    display: inline-block;
    padding: 0 19px;
    height: 25px;
}

.menu .work-area a {
    text-decoration: none;
    color: #fff;
}

.menu .work-area a:hover {
    text-decoration: underline;
}

.menu .work-area li:not(:last-child) {
    border-right: 2px solid #fff;
}

.contacts {
    float: right;
}

.phone-number {
    padding: 15px 0 5px;
    color: #777;
    font-size: 40px;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 300;
    line-height: 47px;
    width: 256px;
}

.feedback {
    font-size: 24px;
    font-weight: bold;
    color: #767676;
    text-align: right;
}

.feedback a {
    color: #767676;
    text-decoration-style: dashed;
}

.slider {
    overflow: hidden;
    height: 400px;
    position: relative;
    background-color: #f8f8f8;
}

.slider-circle {
    opacity: 0.5;
    left: 50%;
    position: absolute;
    border-radius: 50%;
    top: 0;
}

.slider-circle1 {
    background: #d0d4f3;
    width: 325px;
    height: 325px;
    transform: translate(-618px, 109px);
}

.slider-circle2 {
    background: #d4e2d0;
    width: 177px;
    height: 177px;
    transform: translate(-370px, 50px);
}

.slider-circle3 {
    background: #fae4d1;
    width: 300px;
    height: 300px;
    transform: translate(-216px, 50px);
}

.slider-circle4 {
    background: #d4e2d0;
    width: 177px;
    height: 177px;
    transform: translate(453px, 202px);
}

.slider-circle5 {
    background: #fae4d1;
    width: 300px;
    height: 300px;
    transform: translate(330px, -64px);
}

.slider-circle6 {
    background: #d0d4f3;
    width: 226px;
    height: 226px;
    transform: translate(143px, 74px);
}

.leftblock  {
    width: 173px;
    color: #767676;
    float: left;
    margin-top: 20px;
}

.bread-crumbs a {
    color: #767676;
}

.bread-crumbs  li {
    display: inline-block;
    padding-right: 10px;
    color: #767676;
    margin-top: 4px;
}

.bread-crumbs li:not(:last-child):after {
    content: "/";
    padding-left: 5px;
}

.left-menu {
    font-size: 18px;
    text-decoration: none;
}

.leftblock .left-menu li {
    display: block;
}

.leftblock .left-menu a {
    text-decoration: none;
    color: #767676;
}

.left-menu-submenu {
    font-size: 14px;
    padding: 9px 0 0 19px;
}

.left-menu a:hover {
    text-decoration: underline;
}

.centerblock {
    float: right;
    width: 780px;
}

.goods {
    margin-left: -15px;
}

.product {
    width:250px;
    height: 378px;
    background-color: #dcdcdc;
    float: left;
    margin: 24px 0 0 15px;
}

.goodsphoto {
    width: 210px;
    height: 209px;
    margin: 18px;
}

.addtobasket_mini {
    width: 28px;
    height: 21px;
    margin: 91px 0 0 185px;
}

.description {
    font-size: 18px;
    color: #8e8e8e;
    margin: -133px 0 0 11px;
    padding: 10px;
}

.value {
    font-size: 28px;
    font-weight: bold;
    color: #444444;
    letter-spacing: 2px;
    padding: 18px;
    margin-top: 21px;
}

.footer {
    height: 220px;
    margin-top: -220px;
    background: #767676;
    color: #fff;
    list-style: none;
}

.footer-container {
    padding-top: 45px;
    color: #fff;
    font-size: 14px;
}

.copytext {
    float: left;
}

.footer-menu {
    float: left;
    margin-left: 159px;
}

.footer-menu li {
    padding-bottom: 4px;
}

.developer::before {
    content: "";
    display: block;
    position: absolute;
    background-image: url("./images/before.png");
    width: 36px;
    height: 38px;
    top: 5px;
    left: 10px;
}

.developer {
    float: right;
    position: relative;
    padding-left: 56px;
    margin-right: 10px;
    width: 170px;
}

a {
    color: #fff;
}

a:hover {
    text-decoration: none;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

.proverka {
    position: absolute;
    background-image: url("./images/pixelplus.ru-test-v3.jpg");
    width: 1400px;
    height: 1715px;
    left: -56px;
    top: -20px;
    opacity: 0.5;
    display: none;
}
